/arlot.zip
/arlot_s1_c.zip
/arlot_s1_pc3.zip
/arlot_s1_s.zip
/detection.zip
/detection_lambda_12_delta_2.zip
/detection_lambda_20_delta_2.zip
/detection_lambda_6_delta_2.zip
/detection_lambda_6_delta_3.zip
/detection_lambda_6_delta_4.zip
/detection_lambda_8_delta_2.zip
/over.zip
/over2.zip
/under.zip
/under_D_2.zip
/under_D_3.zip
/under_D_5.zip
